.box{
    width: 500px;
    height: 500px;
    background-color: aqua;
    padding-left: 70px;
    display: block;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: blue;
}
.mura{
    font-size: 13px;
    width: 500px;
    height: 500px;
    background-color: darkkhaki;
    padding-left: 70px;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}
img{
    width: 400px;
    

}
main{
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    
}